/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-top: 2.0em; padding-bottom: 250px; }
#footer { clear: both; position: relative; z-index: 10; height: 150px; margin-top: -150px; padding-top: 20px;}

#footer {
    background: #eee;
}

#header {
    background: #f06;
    color: #fff;
}

p, li {
    font-size: 18px;
}

li {
    line-height: 2.0em;
}
