h1 {margin-top:1.5em;margin-bottom:0.8em}
h2 {margin-top:0.4em;margin-bottom:0.2em;font-size:1.3em;}
h3 {margin-top:0.4em;margin-bottom:0.2em;font-size:1.1em;font-style:oblique;}

a {color:#444;}
#TOC a {color:#08c;}
