<!doctype html>
<html lang="en">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PSAS Procedure Book">
  <!--<link href="{{ site.url }}/format/css/bootstrap.min.css" rel="stylesheet">--!>
  <link href="{{ site.url }}/format/css/style.css" rel="stylesheet">
  <title>{{ page.title }}</title>
 </head>

 <body>
  <div class="wrapper">
   <div id="header">
     <h1 id="head-title">PSAS Launch Procedure Book</h1>
     {%- if page.layout == "checklist" -%}
      <div id="complete">Completed:
       <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" 
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          0%
        </div>
       </div>
      </div>
     {%- endif -%}
    </div>
   <div id="content">
    <div class="container">
      <!--layout is <code>{{ page.layout }}</code>--!>
      {{- content -}}
    </div>
   </div>
   <!--
   --!>
  </div>
  <div id="footer">
    <a href="#">Back to top</a>
    <hr style="border-width:5px; border-style:solid;">
  </div>
 </body>
</html>

